body {
  font-family: "Poppins", "Material Icons", sans-serif;
  overflow-x: hidden;
  padding: 0.5em 0.8em;
}

/* HEADER */

.content__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__title {
  color: #333333;
  font-family: "Heebo";
  font-size: 1.5em;
  line-height: 2em;
  text-decoration: none;
}

.header__button {
  background-color: transparent;
  background-image: url(../img/svg/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  border: none;
  height: 19px;
  padding: 12px;
  width: 20px;
  z-index: 2;
}

.header__menu {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;

  /* ANIMATION */
  transition: all 1s ease-in-out;
  transform: translateX(100%);
}

.header__menu--open {
  transform: translateX(0);
}

.header__menu--item {
  margin-bottom: 1em;
}

.header__menu--item a {
  color: #333333;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  transition: all 1s ease-in-out;
}

.header__menu--item a:hover {
  font-weight: 700;
}

@media screen and (min-width: 1020px) {
  body {
    padding: 0.5em 2.2em;
  }

  .header__title {
    font-size: 2em;
    line-height: 3em;
  }

  .header__button {
    display: none;
  }

  .header__menu {
    position: static;
    transform: translateX(0);
    width: 50%;
    height: auto;
  }

  .header__menu--list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .header__menu--item {
    margin-bottom: 0;
  }

  .header__menu--item a {
    font-size: 1.5em;
  }
}

/* MAIN */

main {
  margin-top: 2em;
}

/* SECTIONS */

.content__section {
  margin: 1.8em;
}

.content__section--text {
  color: #2d9cdb;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 0.3em;
}

.content__section--title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 1em;
}

.content__section--wrapper {
  background-image: url(../img/jpg/heroImage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 18px;
  width: 100%;
  height: 7em;
}

.content__section--text-alternative {
  color: #4f4f4f;
  margin: 1.7em 0;
}

.content__input {
  width: auto;
  position: relative;
}

.content__input label {
  color: #828282;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  display: block;
  margin-bottom: 0.5em;
}

.content__input input {
  border: none;
  width: 80%;
  background: #f2f2f2;
  border-radius: 12px;
  padding: 1em 0.5em;
}

.content__input button {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: #f2f2f2;
  background: #2d9cdb;
  border-radius: 12px;
  border: none;
  padding: 0.5em;
  width: 4.5em;
  position: absolute;
  right: 17%;
  bottom: 6%;
}
