body {
  font-family: "Poppins", "Material Icons", sans-serif;
  overflow-x: hidden;
  padding: 0.5em 0.8em;
}

/* HEADER */

.content__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__title {
  color: #333333;
  font-family: "Heebo";
  font-size: 1.5em;
  line-height: 2em;
  text-decoration: none;
}

.header__button {
  background-color: transparent;
  background-image: url(../img/svg/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  border: none;
  height: 19px;
  padding: 12px;
  width: 20px;
  z-index: 2;
}

.header__menu {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;

  /* ANIMATION */
  transition: all 1s ease-in-out;
  transform: translateX(100%);
}

.header__menu--open {
  transform: translateX(0);
}

.header__menu--item {
  margin-bottom: 1em;
}

.header__menu--item a {
  color: #333333;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  transition: all 1s ease-in-out;
}

.header__menu--item a:hover {
  font-weight: 700;
}

@media screen and (min-width: 1020px) {
  body {
    padding: 0.5em 2.2em;
  }

  .header__title {
    font-size: 2em;
    line-height: 3em;
  }

  .header__button {
    display: none;
  }

  .header__menu {
    position: static;
    transform: translateX(0);
    width: 50%;
    height: auto;
  }

  .header__menu--list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .header__menu--item {
    margin-bottom: 0;
  }

  .header__menu--item a {
    font-size: 1.5em;
  }
}

/* MAIN */

main {
  margin-top: 2em;
}

/* SECTIONS */

.content__section {
  margin: 1.8em;
}

.content__section--text {
  color: #2d9cdb;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 0.3em;
}

.content__section > .section__title {
  margin-left: 0;
}

.section__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 1em;
  margin-left: 28px;
}

.content__section--wrapper {
  background-image: url(../img/jpg/heroImage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 18px;
  width: 100%;
  height: 7em;
}

.content__section--text-alternative {
  color: #4f4f4f;
  margin: 1.7em 0;
}

.content__input {
  width: auto;
  position: relative;
}

.content__input label {
  color: #828282;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  display: block;
  margin-bottom: 0.5em;
}

.content__input input {
  background: #f2f2f2;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  line-height: 21px;
  padding: 1em 0.5em;
  width: 80%;
}

.content__input button {
  color: #f2f2f2;
  cursor: pointer;
  background: #2d9cdb;
  border: none;
  border-radius: 12px;
  bottom: 7px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  padding: 0.5em;
  position: absolute;
  right: 44px;
  width: 4.5em;
}

@media screen and (min-width: 1020px) {
  .content__section {
    margin-left: 15em;
    width: 35em;
  }

  .content__section--text {
    font-size: 18px;
    line-height: 27px;
  }

  .section__title {
    font-size: 48px;
    line-height: 72px;
  }

  .content__section--wrapper {
    height: 30em;
  }

  .content__input label {
    font-size: 14px;
    line-height: 21px;
  }

  .content__input input {
    font-size: 18px;
    line-height: 27px;
  }

  .content__input button {
    bottom: 1em;
    right: 7em;
  }
}

.section__second {
  margin-top: 100px;
}

.card {
  border-radius: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 422px;
  justify-content: space-between;
  padding: 49px 34px 43px;
  margin-bottom: 10px;
  max-width: 400px;
  width: 100%;
}

.card__wrapper {
  border-radius: 16px;
  box-sizing: border-box;
  height: 67px;
  padding: 12px;
  width: 67px;
}

.card__wrapper--pencil {
  background: #2d9cdb;
}

.card__wrapper--code {
  background: #27ae60;
}

.card__wrapper--storage {
  background: #eb5757;
}

.card__image {
  width: 42px;
}

.card__title {
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.card__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.card__button {
  color: #828282;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 9px 12px;
  width: 116px;
}

.card--horver {
  background: #fff;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

.card__button--horver {
  color: #fff;
  background: #2d9cdb;
}

@media screen and (min-width: 1020px) {
  .section__second {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: auto;
    margin-top: 200px;
    padding: 0 6em;
  }

  .section__second .section__second--title {
    grid-column: span 3;
  }
}

.section__third {
  margin-top: 100px;
  width: 100%;
}

.section__third > .section__title {
  margin-bottom: 2em;
}

.card__alternative {
  margin-top: 2.5em;
  width: 100%;
}

.card__alternative--image {
  border-radius: 16px;
  width: 100%;
}

.card__alternative--span {
  color: #828282;
  display: block;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  margin: 12px 0 6px;
}

.card__alternative--title {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.button__see--more {
  align-items: center;
  color: #2d9cdb;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  margin-top: 2em;
  text-decoration: none;
  width: auto;
}

.button__see--more > img {
  margin-left: 10px;
}
